//Agregue sus variables mi estimado

//primary colors
$light-red: hsl(356, 100%, 66%); //cta texts
$very-l-red: hsl(355, 100%, 74%); //cta hover background
$very-d-blue: hsl(208, 49%, 24%); //headings

//neutral
$white: hsl(0, 0%, 100%); //text;
$footer-text: hsl(240, 2%, 79%);
$very-d-grayish-blue: hsl(207, 13%, 34%); //body copy
$very-d-black-blue: hsl(240, 10%, 16%); //footer background

//gradient BackgroundGradient Intro/CTA mobile nav
$gradient-v-l-red: hsl(13, 100%, 72%);
$gradient-l-red: hsl(353, 100%, 62%);

//background gradient -body
$gradient-very-g-blue: hsl(237, 17%, 21%);
$gradient-very-dark-desatu-blue: hsl(237, 23%, 32%);
